* {
    margin: 0;
    padding: 0;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.button{
    font-size: 25px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input{
    height: 50px;
    padding-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.vert-centered{
    margin-top: auto;
    margin-bottom: auto;
}